---
import BaseHead from '@/components/fundations/head/BaseHead.astro';
import Footer from '@/components/global/Footer.astro';
import GlobalInteractions from '@/components/global/GlobalInteractions.astro';
import AuthModal from '@/components/global/AuthModal.astro';
import Navigation from '@/components/navigation/Navigation.astro';
import Search from '@/components/sites/Search.astro';
import { getLangFromLocals } from '@/i18n/utils';
// Import global styles
import '@/styles/global.css';

// Hides the navigation, search or footer on selected screens by passing props:
// <BaseLayout hideNavigation={true} hideFooter={true}   />
const {
  hideNavigation = false,
  hideNav = false,
  hideFooter = false,
  hideSearch, // legacy flag
  showSearch = false,
  seoProps = {},
} = Astro.props;
const renderSearch = showSearch || hideSearch === false;
const lang = getLangFromLocals(Astro.locals);
---

<html
  lang={lang}
  class="scroll-smooth selection:bg-accent-50 selection:text-accent-500"
>
  <head>
    <BaseHead seoProps={seoProps} />
  </head>
  <body class="bg-white flex flex-col lg:min-h-svh">
    {(!hideNavigation && !hideNav) && <Navigation />}
    <main class="grow">
      {renderSearch && <Search />}
      <slot />
    </main>
    {!hideFooter && <Footer />}
    <GlobalInteractions lang={lang} />
    <AuthModal />
  </body>
</html>
